.menu {
  border-bottom: 1px solid gray;
  margin: 0 30px;
}

.menu__logo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.menu__nav {
  display: inline-block;
  width: 88%;
  text-align: right;

  & ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }

  & li {
    display: inline-block;
    padding: 15px 10px;
  }
}

.input-menu {
  border-radius: 7px;
}

@media only screen and (max-device-width: 768px) {
  #nosotros {
    display: none;
  }
}
